<nav class="navbar lightblue shadow-lg fixed-top d-flex justify-content-between" >
 
  

    <button class="btn btn-outline" [ngClass]="{'marginl' : sidebarOn}" (click) ="toggleSidebar()">
<span >☰</span>
 
</button>
    <h3 style="color:rgb(8, 0, 0); background-color: white; padding: 10px; border-radius: 10px;
    "> <span class="text-danger">[ </span> <span style="font-family: 'Pacifico', cursive;">Kings Garden</span>  <span class="text-danger"> ]</span></h3>

  
  <div class="dropdown">
    <button class="btn p-2 mr-5 mt-2 mb-2 rounded-circle text-decoration-none text-white"
     aria-haspopup="true" aria-expanded="false"  style="background-color: blue;">
      SD
    </button>
    <div  class="dropdown-content">
      <a class="dropdown-item" href="index.html" >Logout</a>
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
    </div>
  </div>
</nav>