<nav class="navbar lightblue shadow-lg fixed-top d-flex justify-content-between" >
 
  

    <!-- <button class="btn btn-white" (click) = "switch()">
<svg class="sidebaron hide"   xmlns="http://www.w3.org/2000/svg" width="32" height="3.5rem" fill="white" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
</svg>
</button> -->
    <h2 class="text-white">Hotel Taj</h2>

  
  <div class="dropdown">
    <button class="btn p-2 bg-warning mr-5 mt-2 mb-2 rounded-circle text-decoration-none text-dark"
     aria-haspopup="true" aria-expanded="false" >
      SD
    </button>
    <div  class="dropdown-content">
      <a class="dropdown-item" href="index.html" >Logout</a>
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
    </div>
  </div>
  <!-- <a  class="p-2 bg-warning mr-5 mt-2 mb-2 rounded-circle text-decoration-none text-dark"> SD </a> -->
</nav>