
:host{
    width: 100%;
    height: 100vh;
   
}
.main-wrapper {
    background-color: white;
    border-radius: 15px;
}

.hotel-avatar {
    width: 100px;
    height: 100px;

}

input.ng-dirty.ng-invalid {
    border: 2px red solid;
}

input.ng-dirty.ng-valid {
    border: 2px green solid;
}

input.ng-touched.ng-invalid {
    border: 2px red solid;
}

input.ng-touched.ng-valid {
    border: 2px green solid;
}


input.ng-dirty.ng-touched.ng-invalid {
    border: 2px red solid;
}

input.ng-dirty.ng-touched.ng-valid {
    border: 2px green solid;
}